* {
  margin: 0px;
  padding: 0px;
}

.container-boxes {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
  .card {
    background-color: rgb(87, 38, 133);
    padding: 20px;
    line-height: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
    display: inline-table;
    width: 15rem;
    .card-img-top {
      border-radius: 80%;
    }
  }
}
