.navbar {
  font-size: 1.5rem;
  justify-content: space-between;
  border-style: solid;
  list-style-type: none;
  overflow: hidden;

  .navbar-nav {
    a:hover {
      color: magenta;
      font-weight: bolder;
    }
    .nav-link {
      color: magenta;
    }
    .opcion {
      color: rgb(190, 184, 190);
      .elegido {
        color: rgb(171, 173, 29);
        font-weight: bolder;
      }
    }
  }
}
